* {
    box-sizing: border-box;
    margin: 0;
  }

  h1 {
    font-size: 20pt;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 0;
  }

  p {
    font-size: 11pt;  
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }